body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff0dc;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 60%;
}
.battery {
  font-size: 25px;
  margin-left: auto;
  padding: 20px;
  border: 2px solid rgb(115, 113, 113);
  background-color: rgb(52, 52, 52);
  color: #5cb338;
  margin-left: auto;
  border-radius: 10px;
  font-weight: 400;
}

.container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}
#clock {
  flex-grow: 2;
  margin-right: 30px;
  font-size: 30px;
  text-align: center;
  align-items: center;
}

#alarm {
  flex-grow: 1;
}

.box {
  padding: 30px;
  background-color: #543a14;
  color: #f0bb78;
  border-radius: 15px;
}

/**/
#alarmList p {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}

.time-selector {
  margin-left: 10px;
  background: #f0bb78;
  padding: 20px;
  border-radius: 8px;
  color: #131010;
}
.time-selector p {
  display: inline;
  font-weight: 500;
  font-size: 20px;
}

label {
  font-size: 14px;
  margin-right: 5px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #131010;
  border-radius: 10px;
  outline: none;
  background-color: #f0bb78;
  color: #131010;
}

select:focus {
  border-color: #543a14;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.addalarm {
  display: flex;
  align-items: center;
}

.addbutton {
  margin-left: 25px;
  border-radius: 10px;
  background-color: #543a14;
  color: white;
  padding: 10px;
  width: 80px;
}
.addbutton:hover {
  box-shadow: 2px 1px 1px black;
}
.addbutton:active {
  box-shadow: inset 2px 1px 1px black;
}
