body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff0dc;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 60%;
}
.battery {
  font-size: 25px;
  margin-left: auto;
  padding: 20px;
  border: 2px solid rgb(115, 113, 113);
  background-color: rgb(52, 52, 52);
  color: #5cb338;
  margin-left: auto;
  border-radius: 10px;
  font-weight: 400;
}

.container0 {
  margin-top: 0px;
  border: 3px #543a14 solid;
  border-radius: 5px;
  height: 600px;
  padding: 0px 10px 10px 10px;
}

.changetime {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  margin-left: 15px;
}

.changetimebutton {
  all: unset; /* 기본 스타일 제거 */
  display: inline-flex; /* 내부 콘텐츠 정렬 */
  justify-content: center; /* 콘텐츠 중앙 정렬 */
  align-items: center;
  cursor: pointer; /* 마우스 커서 변경 */
  margin-bottom: 0;
  padding: 5px 10px 3px 10px;
  border: 3px solid #543a14;
  border-bottom: 0;
  border-radius: 10px 10px 0px 0px;
  transition: 0.5 ease;
}
.changetimebutton:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 2px black;
}
.changetimebutton:active {
  box-shadow: 1px 2px 2px inset black;
}

.buttonimage {
  height: 50px;
  width: 100px;
  aspect-ratio: 3/2;
  object-fit: contain; /* 크기 맞춤 */
}

.container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}
#clock {
  flex-grow: 2;
  margin-right: 30px;
  font-size: 30px;
  text-align: center;
  align-items: center;
}

#alarm {
  flex-grow: 1;
}

.box {
  padding: 30px;
  background-color: #543a14;
  color: #f0bb78;
  border-radius: 15px;
}

/**/
#alarmList p {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}

.time-selector {
  margin-left: 10px;
  margin-top: 10px;
  background: #f0bb78;
  padding: 20px;
  border-radius: 8px;
  color: #131010;
}
.time-selector p {
  display: inline;
  font-weight: 500;
  font-size: 20px;
}

label {
  font-size: 14px;
  margin-right: 5px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #131010;
  border-radius: 10px;
  outline: none;
  background-color: #f0bb78;
  color: #131010;
}

select:focus {
  border-color: #543a14;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.addalarm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addbutton {
  margin-left: 25px;
  border-radius: 10px;
  background-color: #543a14;
  color: white;
  padding: 10px;
  width: 80px;
}
.addbutton:hover {
  box-shadow: 2px 1px 1px black;
}
.addbutton:active {
  box-shadow: inset 2px 1px 1px black;
}
